h1{
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
}
h2{
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}
h3{
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.content{
    padding-top: 30px;
}
.layui-timeline-title{
    margin: 0;
}
.layui-timeline-item:before{
    left: 4px;
}
.layui-timeline-title span{
    display: inline-block;
    margin-right: 10px;
}
.layui-timeline-title span+span{
    color: #ccc;
    font-size: 14px;
}