<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="website/index/index.css" media="all" />
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div class="nav-wrap">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img" id="img">欢迎, <span id="username"></span></a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;" id="logout">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/layui/layui.js"></script>
<script src="website/index/index.js"></script>
</body>
</html>