{include file="../../public/head"}
<link rel="stylesheet" href="webcommon/css/userinfo.css" media="all" />
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <form action="" class="layui-form form">
                <input type="hidden" id="id">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <div class="img">
                            <input type="hidden" name="filePath" id="filePath">
                            <button type="button" class="layui-btn upload" id="upload"></button>
                            <img src="" alt="" id="avatar">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" name="phone" required  lay-verify="required" placeholder="手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" name="email" required  lay-verify="required" placeholder="邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" name="username" required  lay-verify="required" placeholder="昵称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn submit-step" lay-submit lay-filter="submit">修改信息</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="../../public/foot"}
<script src="website/personal/index.js"></script>
